# Sequelize DB connection
HOST=localhost
DATABASE_NAME=productivity_graveyard_dev
ADMIN_USERNAME=admin
ADMIN_PASSWORD=secret
DIALECT=postgres
CRUD_USERNAME=crud_user
CRUD_PASSWORD=crud_password
SSL_REQUIRED=false

# Not needed for local dev, defaults to 5432 for postgres
# DB_PORT=5432

# Express server
PORT=3000
CORS=true
ENVIRONMENT=development
LOG_ERRORS=false
OUTPUT_SWAGGER=false

# JWT secret key
JWT_SECRET= Secret_Sauce

# NodeMailer Development - Ethereal (nodemailer test account)
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=<your-ethereal-user>
SMTP_PASS=<your-ethereal-pass>
EMAIL_FROM_NAME=Productivity Graveyard
EMAIL_FROM_ADDRESS=noreply@productivity-graveyard.dev
FRONTEND_URL=http://localhost:3000



